.sign-up {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
 
  }
  
  .sign-up .overlap-wrapper {
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
  }
  
  .sign-up .overlap {
    position: relative;
    height: 100vh;
  }


  .sign-up .component {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
  }
  
  .sign-up .rectangle {
    width: 254px;
    height: 930px;
    top: 94px;
    background-color: #fafafb;
    position: absolute;
    left: 0;
  }
  
  .sign-up .group {
    position: absolute;
    width: 210px;
    height: 870px;
    top: 69px;
    left: 33px;
    background-color: #fafafb;
  }
  
  .sign-up .div {
    position: absolute;
    width: 115px;
    height: 22px;
    top: 71px;
    left: 1px;
  }
  
  .sign-up .img {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 0;
    left: 0;
  }
  
  .sign-up .text-wrapper {
    position: absolute;
    top: 2px;
    left: 35px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #787486;
    font-size: 14.9px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-up .group-2 {
    position: absolute;
    width: 199px;
    height: 27px;
    top: 127px;
    left: 0;
  }
  
  .sign-up .frame-wrapper {
    position: absolute;
    width: 150px;
    height: 22px;
    top: 0;
    left: 0;
  }
  
  .sign-up .frame {
    display: inline-flex;
    align-items: center;
    gap: 13.04px;
    position: relative;
  }
  
  .sign-up .img-2 {
    position: relative;
    width: 22.36px;
    height: 22.36px;
  }
  
  .sign-up .text-wrapper-2 {
    position: relative;
    width: fit-content;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #787486;
    font-size: 14.9px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-up .vuesax-outline-arrow {
    position: absolute;
    top: 0px;
    left: 150px
  }

  .sign-up .vuesax-outline-arrow1 {
    position: absolute;
    top: 0px;
    left: 150px
  }
  
  
  .sign-up .cafe-restaurant {
    position: relative;
    width: fit-content;
    margin-top: -24.66px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #787486;
    font-size: 14.9px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-up .text-wrapper-3 {
    position: relative;
    width: fit-content;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: var(--gray-3);
    font-size: 14.9px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-up .building {
    position: relative;
    width: fit-content;
    margin-right: -1.99px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: var(--gray-3);
    font-size: 14.9px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-up .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-bottom: -22.8px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: var(--gray-3);
    font-size: 14.9px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-up .div-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 19.56px;
    top: 150px;
    left: 0;
  }
  
  .sign-up .frame-3 {
    display: inline-flex;
    flex-direction: column;
    gap: 19.56px;
    position: relative;

  }
  
  .sign-up .vector {
    position: relative;
    width: 208.65px;
    height: 1px;
    margin-top: -0.47px;
  }
  
  .sign-up .group-wrapper {
    position: relative;
    width: 193.75px;
    height: 22.36px;
  }
  
  .sign-up .group-3 {
    width: 194px;
    height: 22px;
  }
  
  .sign-up .frame-4 {
    display: flex;
    width: 194px;
    align-items: center;
    gap: 13.04px;
    position: relative;
  }
  
  .sign-up .text-wrapper-5 {
    position: relative;
    width: 128.54px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #787486;
    font-size: 14.9px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-up .vector-2 {
    position: absolute;
    width: 209px;
    height: 1px;
    top: 109px;
    left: -4px;
  }
  
  .sign-up .vector-3 {
    position: absolute;
    width: 209px;
    height: 1px;
    top: 228px;
    left: 0;
  }
  
  .sign-up .group-4 {
    position: absolute;
    width: 194px;
    height: 24px;
    top: 243px;
    left: 0;
  }
  
  .sign-up .group-5 {
    height: 24px;
  }
  
  .sign-up .iconly {
    position: relative;
    width: 24.22px;
    height: 24.22px;
  }
  
  .sign-up .vector-4 {
    position: absolute;
    width: 209px;
    height: 1px;
    top: 280px;
    left: 0;
  }
  
  .sign-up .group-6 {
    position: absolute;
    width: 194px;
    height: 25px;
    top: 300px;
    left: 0;
  }
  
  .sign-up .group-7 {
    height: 25px;
  }
  
  .sign-up .iconly-2 {
    position: relative;
    width: 25.15px;
    height: 25.15px;
  }
  
  .sign-up .vector-5 {
    position: absolute;
    width: 209px;
    height: 1px;
    top: 340px;
    left: 0;
  }
  
  .sign-up .group-8 {
    position: absolute;
    width: 194px;
    height: 22px;
    top: 355px;
    left: 0;
  }
  
  .sign-up .group-9 {
    height: 22px;
  }
  
  .sign-up .vector-6 {
    position: absolute;
    width: 209px;
    height: 1px;
    top: 395px;
    left: 0;
  }
  
  .sign-up .group-10 {
    position: absolute;
    width: 100px;
    height: 24px;
    top: 410px;
    left: 0;
  }
  
  .sign-up .frame-5 {
    display: inline-flex;
    align-items: center;
    gap: 13.97px;
    position: relative;
  }
  
  .sign-up .iconly-3 {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .sign-up .text-wrapper-6 {
    position: relative;
    width: fit-content;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #787486;
    font-size: 14.9px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-up .vector-7 {
    position: absolute;
    width: 209px;
    height: 1px;
    top: 790px;
    left: 0;
  }
  
  .sign-up .group-11 {
    position: absolute;
    width: 96px;
    height: 22px;
    top: 809px;
    left: 0;
  }
  
  .sign-up .vector-8 {
    position: absolute;
    width: 209px;
    height: 1px;
    top: 849px;
    left: 0;
  }
  
  .sign-up .text-wrapper-7 {
    position: absolute;
    top: 458px;
    left: 33px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #787486;
    font-size: 14.9px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-up .text-wrapper-8 {
    position: absolute;
    top: 494px;
    left: 33px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: var(--gray-3);
    font-size: 14.9px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-up .rectangle-2 {
    width: 100vw;
    height: 94px;
    top: 0;
    background-color: #004c59;
    box-shadow: 0px 1px 4px #0000000d;
    position: absolute;
    left: 0;
  }
  
  .sign-up .group-12 {
    position: absolute;
    width: 808px;
    height: 44px;
    top: 25px;
    left: 289px;
    background-color: #ffffff;
    border-radius: 6px;
  }
  
  .sign-up .group-13 {
    position: absolute;
    width: 500px;
    height: 50px;
    top: 10px;
    left: 17px;
  }
  
  .sign-up .text-wrapper-9 {
    width: 600px;
    top: -10px;
    left: 38px;
    height: 44px;
    font-family: "Inter", Helvetica;
    color: #787486;
    font-size: 14px;
    position: absolute;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    border: none;
  }
  
  .sign-up .group-14 {
      position: absolute;
      width: 246px;
      height: 42px;
      top: 28px;
      left: 1147px;
      float: right;
  }
  
  .sign-up .overlap-group-wrapper {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 2px;
    left: 37px;
  }
  
  .sign-up .overlap-group {
    position: relative;
    height: 40px;
  }
  
  .sign-up .notifications-none {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
  }
  
  .sign-up .overlap-group-2 {
    position: relative;
    width: 33px;
    height: 31px;
    top: 3px;
    left: 6px;
  }
  
  .sign-up .vuesax-linear {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 5px;
    left: 0;
  }
  
  .sign-up .ellipse {
    position: absolute;
    width: 19px;
    height: 19px;
    top: 0;
    left: 14px;
    background-color: #f62020;
    border-radius: 9.33px;
    border: 1.33px solid;
    border-color: var(--backgroundlight);
  }
  
  .sign-up .text-wrapper-10 {
    position: absolute;
    height: 17px;
    top: 4px;
    left: 17px;
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-up .ellipse-2 {
    position: absolute;
    width: 19px;
    height: 19px;
    top: 3px;
    left: 21px;
    background-color: #f62020;
    border-radius: 9.33px;
    border: 1.33px solid;
    border-color: var(--backgroundlight);
  }
  
  .sign-up .overlap-2 {
    position: absolute;
    width: 147px;
    height: 38px;
    top: 0;
    left: 99px;
  }
  
  .sign-up .group-15 {
    position: absolute;
    width: 147px;
    height: 24px;
    top: 9px;
    left: 0;
  }
  
  .sign-up .vuesax-outline-arrow-2 {
    position: absolute;
    width: 23px;
    height: 23px;
    top: 1px;
    left: 124px;
  }
  
  .sign-up .group-16 {
    position: absolute;
    width: 56px;
    height: 19px;
    top: 0;
    left: 0;
  }
  
  .sign-up .text-wrapper-11 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .sign-up .ellipse-3 {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 0;
    left: 70px;
    object-fit: cover;
  }
  
  .sign-up .vuesax-linear-2 {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 10px;
    left: 0;
  }
  
  .sign-up .ADCCI-LL {
    position: absolute;
    width: 174px;
    height: 36px;
    top: 29px;
    left: 36px;
    object-fit: cover;
  }
  

  
  .sign-up .group-18 {
    position: relative;
    width: 1094px;
    height: 27px;
  }
  

  
  .sign-up .apps-sort {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 3px;
    left: 1068px;
  }
  
  .sign-up .input-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 13px;
    position: absolute;
    top: 127px;
    left: 1028px;
  }
  
  .sign-up .input {
    display: inline-flex;
    align-items: flex-start;
    padding: 13px 56px 13px 14px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 6.1px;
    overflow: hidden;
    border: 1px solid;
    border-color: #c0c1c2;
  }
  
  .sign-up .icons-left {
    position: relative;
    width: 15.92px;
    height: 15.92px;
  }
  
  .sign-up .user-interface {
    position: relative;
    width: 16px;
    height: 16px;
  }
  
  .sign-up .round {
    position: absolute;
    width: 13px;
    height: 13px;
    top: 3px;
    left: 3px;
  }
  
  .sign-up .content {
    position: relative;
    width: 238.87px;
    height: 15.92px;
  }
  
  .sign-up .search-news {
    top: 1px;
    left: 14px;
    font-family: "SF Pro-Regular", Helvetica;
    color: #8d939a;
    font-size: 11.7px;
    white-space: nowrap;
    position: absolute;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    background: transparent;
    border: none;
    padding: 0;
  }
  
  .sign-up .title {
    position: absolute;
    width: 507px;
    height: 58px;
    top: 212px;
    left: 557px;
    font-family: "SF Pro-Regular", Helvetica;
    font-weight: 400;
    color: #121212;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 29.4px;
  }
  
  .sign-up .p {
    width: 507px;
    height: 58px;
    top: 421px;
    left: 557px;
    font-family: "SF Pro-Regular", Helvetica;
    font-weight: 400;
    font-size: 24px;
    line-height: 29.4px;
    position: absolute;
    color: #121212;
    letter-spacing: 0;
  }
  
  
  .sign-up .overline {
    position: absolute;
    width: 115px;
    top: 283px;
    left: 557px;
    font-family: "SF Pro-Semibold", Helvetica;
    font-weight: 400;
    color: #a2a2a2;
    font-size: 12px;
    letter-spacing: 1.39px;
    line-height: 14.1px;
  }
  

  
  .sign-up .secondary-text-wrapper {
    display: flex;
    flex-direction: column;
    width: 344.35px;
    align-items: flex-start;
    gap: 4.57px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .sign-up .secondary-text {
    position: relative;
    width: 530px;
    height: 60px;
    margin-top: -0.91px;
    margin-right: -185.65px;
    font-family: "SF Pro-Light", Helvetica;
    font-weight: 300;
    color: var(--lighton-surface-medium-emphasis);
    font-size: 13px;
    letter-spacing: 0;
    line-height: 18.2px;
  }
  
  .sign-up .screenshot {
    top: 212px;
    position: absolute;
    width: 252px;
    height: 180px;
    left: 288px;
    object-fit: cover;
  }
  
  .sign-up .overline-2 {
    width: 115px;
    top: 498px;
    left: 557px;
    font-family: "SF Pro-Semibold", Helvetica;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1.39px;
    line-height: 14.1px;
    position: absolute;
    color: #a2a2a2;
  }
  
  .sign-up .frame-7 {
    display: flex;
    flex-direction: column;
    width: 225px;
    align-items: flex-start;
    gap: 7.31px;
    position: absolute;
    top: 529px;
    left: 558px;
  }
  
  .sign-up .screenshot-2 {
    top: 427px;
    position: absolute;
    width: 252px;
    height: 180px;
    left: 288px;
    object-fit: cover;
  }
  
  .sign-up .overline-3 {
    width: 115px;
    top: 722px;
    left: 557px;
    font-family: "SF Pro-Semibold", Helvetica;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1.39px;
    line-height: 14.1px;
    position: absolute;
    color: #a2a2a2;
  }
  
  .sign-up .frame-8 {
    display: flex;
    flex-direction: column;
    width: 514px;
    align-items: flex-start;
    gap: 7.31px;
    position: absolute;
    top: 773px;
    left: 558px;
  }
  
  .sign-up .screenshot-3 {
    top: 651px;
    position: absolute;
    width: 252px;
    height: 180px;
    left: 288px;
    object-fit: cover;
  }
  
  .sign-up .screenshot-4 {
    top: 205px;
    position: absolute;
    width: 290px;
    height: 133px;
    left: 1105px;
    object-fit: cover;
  }
  
  
  .sign-up .overline-4 {
    width: 77px;
    top: 409px;
    left: 1105px;
    font-family: "SF Pro-Bold", Helvetica;
    font-weight: 700;
    font-size: 8.4px;
    letter-spacing: 1.16px;
    line-height: 11.8px;
    position: absolute;
    color: #a2a2a2;
  }
  

  
  .sign-up .secondary-text-2 {
    position: relative;
    width: 288.93px;
    height: 50.58px;
    margin-top: -0.77px;
    font-family: "SF Pro-Light", Helvetica;
    font-weight: 300;
    color: var(--lighton-surface-medium-emphasis);
    font-size: 12px;
    letter-spacing: 0;
    line-height: 16.8px;
  }
  
  .sign-up .screenshot-5 {
    top: 529px;
    position: absolute;
    width: 290px;
    height: 133px;
    left: 1105px;
    object-fit: cover;
  }
  
  .sign-up .title-4 {
    width: 292px;
    height: 51px;
    top: 675px;
    left: 1105px;
    font-family: "SF Pro-Medium", Helvetica;
    font-weight: 500;
    font-size: 13.5px;
    line-height: 16.5px;
    position: absolute;
    color: #121212;
    letter-spacing: 0;
  }
  
  .sign-up .frame-10 {
    display: flex;
    flex-direction: column;
    width: 289px;
    height: 78px;
    align-items: flex-start;
    gap: 3.83px;
    position: absolute;
    top: 755px;
    left: 1105px;
  }
  
  .dropbtn {
    background: transparent;
    padding: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 40px;
    font-size: 14px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content img{
    margin-right: 10px;
    margin-bottom: -3px;
  }

  .dropdown-content .lg-out{
    color: red;

  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  

  .dropbtn1 {
    background: transparent;
    padding: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown1 {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 330px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 8px;
    margin-left: -100px;
    font-size: 12px;
  }
  
  .dropdown-content1 a, h1 {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content1 a:hover {background-color: #e1eef0}
  
  .dropdown1:hover .dropdown-content1 {
    display: block;
  }



  .dropbtn2 {
    background: transparent;
    padding: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown2 {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 330px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 8px;
    margin-left: -100px;
    font-size: 12px;
  }
  
  .dropdown-content1 a, h1 {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content2 a:hover {background-color: #e1eef0}
  
  .dropdown1:hover .dropdown-content2 {
    display: block;
  }


  .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }

  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  

  
  .dashboard .component-1 {
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
  }
  
  .dashboard .icon-instance-node-3 {
    height: 22px !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 22px !important;
  }
  

  
  .dashboard .vuesax-linear-setting-2 {
    height: 22.36px !important;
    position: relative !important;
    width: 22.36px !important;
  }
  
  .dashboard .vuesax-linear-notification {
    height: 26px !important;
    left: 0 !important;
    position: absolute !important;
    top: 5px !important;
    width: 26px !important;
  }
  
  .dashboard .vuesax-outline-arrow-down-1 {
    height: 23px !important;
    left: 124px !important;
    position: absolute !important;
    top: 1px !important;
    width: 23px !important;
  }
  
  .dashboard .vuesax-linear-messages-3 {
    height: 26px !important;
    left: 0 !important;
    position: absolute !important;
    top: 10px !important;
    width: 26px !important;
  }
  
  .dashboard .headlines {
    background-color: var(--white);
    border: 1.02px solid;
    border-color: #d7d7d7;
    border-radius: 7.33px;
    height: 339px;
    left: 230px;
    position: absolute;
    top: 272px;
    width: 391px;
  }
  
  .dashboard .statistics-details {
    background-color: var(--white);
    border: 0.93px solid;
    border-color: #0000001a;
    border-radius: 7.47px;
    height: 144px;
    left: 230px;
    position: absolute;
    top: 118px;
    width: 795px;
  }
  
  .dashboard .ellipse-wrapper {
    align-items: flex-start;
    display: inline-flex;
    gap: 16.26px;
    justify-content: center;
    left: 31px;
    position: absolute;
    top: 47px;
  }
  
  .dashboard .ellipse-4 {
    height: 50.9px;
    object-fit: cover;
    position: relative;
    width: 50.9px;
  }
  
  .dashboard .frame-6 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 13.21px;
    left: 550px;
    position: absolute;
    top: 58px;
  }
  
  .dashboard .rectangle-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8.81px;
    position: relative;
  }
  
  .dashboard .rectangle-3 {
    border: 1px solid;
    border-color: #004c59;
    border-radius: 30.82px;
    height: 39.62px;
    position: relative;
    width: 186.68px;
  }
  
  .dashboard .frame-7 {
    align-items: center;
    display: inline-flex;
    gap: 9.25px;
    left: 31px;
    position: absolute;
    top: 13px;
  }
  
  .dashboard .group-17 {
    height: 12.39px;
    margin-left: -0.61px;
    position: relative;
    width: 12.39px;
  }
  
  .dashboard .text-wrapper-12 {
    color: #004c59;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 13.21px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.32px;
    position: absolute;
    white-space: nowrap;
    width: 104.65px;
    z-index: 2;
    left: 5px;
    top: 2px;
  }
  
  .dashboard .frame-9 {
    height: 44.7px;
    position: relative;
    width: 206.25px;
  }
  
  
  .dashboard .text-wrapper-13 {
    color: #004c59;
    font-family: "SF Pro-Light", Helvetica;
    font-size: 17.1px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.11px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }

  .dashboard .text-wrapper-14 {
    color: #004c59;
    font-family: "SF Pro-Semibold", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1130px;
    white-space: nowrap;
    left: -1565px;
  }
  
  .dashboard .frame-11 {
    align-items: flex-start;
    display: inline-flex;
    gap: 9.14px;
    left: 334px;
    position: absolute;
    top: 79px;
  }

  
  .dashboard .member-ID {
    color: transparent;
    font-family: "SF Pro-Regular", Helvetica;
    font-size: 12.2px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.02px;
    position: relative;
    width: 176.79px;
  }
  
  .dashboard .span {
    color: #717171;
  }
  
  .dashboard .text-wrapper-15 {
    color: #004c59;
  }
  
  .dashboard .group-18 {
    height: 791px;
    left: 1040px;
    position: absolute;
    top: 119px;
    width: 340px;
  }
  
  .dashboard .overlap-4 {
    background: linear-gradient(180deg, rgb(250.75, 255, 253.18) 20.39%, rgb(243, 250, 247) 100%);
    border: 0.44px solid;
    border-color: #92c9d2;
    border-radius: 7px;
    height: 791px;
    position: relative;
    width: 336px;
  }
  
  .dashboard .text-wrapper-16 {
    color: #000000;
    font-family: "SF Pro-Regular", Helvetica;
    font-size: 11.5px;
    font-weight: 400;
    left: 114px;
    letter-spacing: 0;
    line-height: 11.9px;
    position: absolute;
    text-align: center;
    top: 382px;
    width: 115px;
  }
  
  .dashboard .abu-dhabi-government {
    color: #000000;
    font-family: "SF Pro-Medium", Helvetica;
    font-size: 13.6px;
    font-weight: 400;
    left: 34px;
    letter-spacing: 0;
    line-height: 14.1px;
    position: absolute;
    text-align: center;
    top: 258px;
    width: 262px;
  }
  
  .dashboard .text-wrapper-17 {
    font-weight: 500;
  }
  
  .dashboard .text-wrapper-18 {
    font-family: "SF Pro-Regular", Helvetica;
    font-size: 12.4px;
    line-height: 12.9px;
  }
  
  .dashboard .text-wrapper-19 {
    font-family: "SF Pro-Light", Helvetica;
    font-size: 12.4px;
    font-weight: 300;
    line-height: 12.9px;
  }
  
  .dashboard .ehvkajjw-abu-dhabi {
    height: 382px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 409px;
    width: 336px;
  }
  
  .dashboard .tamm {
    height: 175px;
    left: 92px;
    object-fit: cover;
    position: absolute;
    top: 47px;
    width: 144px;
  }
  
  .dashboard .appstore {
    height: 28px;
    left: 62px;
    position: absolute;
    top: 338px;
    width: 103px;
  }
  
  .dashboard .googleplay {
    height: 28px;
    left: 171px;
    position: absolute;
    top: 338px;
    width: 103px;
  }
  
  .dashboard .frame-12 {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 44px;
    left: 250px;
    position: absolute;
    top: 293px;
  }
  
  .dashboard .latest-news-see-more {
    color: transparent;
    font-family: "SF Pro-Regular", Helvetica;
    font-size: 12.2px;
    font-weight: 400;
    height: 16.26px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.02px;
    position: relative;
    width: 351.54px;
  }
  

  .dashboard .frame-14 {
    align-items: flex-end;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    gap: 8.97px 7px;
    position: relative;
    width: 348.16px;
  }
  
  .dashboard .p {
    color: #343434;
    font-family: "SF Pro-Bold", Helvetica;
    font-size: 11.8px;
    font-weight: 700;
    height: 42.67px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.99px;
    position: relative;
    width: 341.38px;
  }
  
  .dashboard .frame-15 {
    align-items: flex-start;
    background-color: #f6f6f6;
    border-radius: 2.82px;
    display: flex;
    gap: 7.06px;
    overflow: hidden;
    padding: 2.12px 0px 2.12px 4.94px;
    position: relative;
    width: 75.54px;
  }
  
  .dashboard .text-wrapper-21 {
    color: #343434;
    font-family: "Inter", Helvetica;
    font-size: 7.1px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 9.9px;
    margin-top: -0.71px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dashboard .frame-16 {
    align-items: flex-start;
    background-color: #f6f6f6;
    border-radius: 2.82px;
    display: flex;
    gap: 7.06px;
    overflow: hidden;
    padding: 2.12px 21.18px 2.12px 4.94px;
    position: relative;
    width: 55.77px;
  }
  
  .dashboard .text-wrapper-22 {
    color: #343434;
    font-family: "Inter", Helvetica;
    font-size: 7.1px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 9.9px;
    margin-right: -16.35px;
    margin-top: -0.71px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dashboard .news-para {
    color: #343434;
    font-family: "SF Pro-Bold", Helvetica;
    font-size: 11.8px;
    font-weight: 700;
    height: 42.67px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.99px;
    position: relative;
    width: 341.38px;
  }
  
  .dashboard .frame-17 {
    align-items: flex-end;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    gap: 23px 6px;
    position: relative;
    width: 348.16px;
  }
  
  .dashboard .text-wrapper-23 {
    color: #343434;
    font-family: "SF Pro-Bold", Helvetica;
    font-size: 11.8px;
    font-weight: 700;
    height: 15.24px;
    letter-spacing: 0;
    line-height: normal;
    margin-right: -9.47px;
    margin-top: -0.99px;
    position: relative;
    width: 357.64px;
  }
  
  .dashboard .headlines-2 {
    background-color: var(--white);
    border: 1.02px solid;
    border-color: #d7d7d7;
    border-radius: 7.33px;
    height: 339px;
    left: 630px;
    position: absolute;
    top: 272px;
    width: 392px;
  }
  
  .dashboard .frame-18 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;

    left: 16px;
    position: absolute;
    top: 60px;
    width: 360px;
  }
  
  .dashboard .text-wrapper-24 {
    color: #343434;
    font-family: "SF Pro-Bold", Helvetica;
    font-size: 13.7px;
    font-weight: 700;
    height: 16.37px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.05px;
    position: relative;
    white-space: nowrap;
    width: 353.92px;
  }
  
  .dashboard .text-wrapper-25 {
    color: #000000;
    font-family: "SF Pro-Light", Helvetica;
    font-size: 10.5px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 17.7px;
    margin-right: -17.91px;
    position: relative;
    width: 378.28px;
  }
  
  .dashboard .frame-19 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 18.97px;
    padding: 4.41px 0px;
    position: relative;
  }
  
  .dashboard .frame-20 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 12.48px;
    position: relative;
  }
  
  .dashboard .group-19 {
    height: 9px;
    margin-right: -2px;
    position: relative;
    width: 110.7px;
  }
  
  .dashboard .text-wrapper-26 {
    color: #004c59;
    font-family: "SF Pro-Medium", Helvetica;
    font-size: 7.6px;
    font-weight: 500;
    left: 11px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 3px;
    white-space: nowrap;
  }

  
  .dashboard .overlap-group-3 {
    height: 9px;
    position: relative;
    width: 113px;
  }
  
  .dashboard .vuesax-linear-calendar-tick-2 {
    height: 8px !important;
    left: 0 !important;
    position: absolute !important;
    top: 1px !important;
    width: 8px !important;
  }
  
  .dashboard .group-20 {
    height: 9px;
    left: 1px;
    position: absolute;
    top: -4px;
    width: 113px;
  }
  
  .dashboard .frame-22 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    position: relative;
  }
  
  .dashboard .text-wrapper-27 {
    color: #004c59;
    font-family: "Helvetica Neue-Light", Helvetica;
    font-size: 9.3px;
    font-weight: 300;
    height: 16.49px;
    letter-spacing: 0;
    line-height: 30.2px;
    margin-top: -13.03px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 56.69px;
  }
  
  .dashboard .group-21 {
    height: 15.97px;
    position: relative;
    width: 15.97px;
  }
  
  .dashboard .overlap-group-4 {
    height: 16px;
    position: relative;
    width: 16px;
  }
  
  .dashboard .ellipse-5 {
    background-color: #004c59;
    border-radius: 50%;
    height: 14px;
    left: 2px;
    position: absolute;
    top: 3px;
    transform: rotate(43.95deg);
    width: 14px;
  }


  
  .dashboard .vector-9 {
    height: 5px;
    left: 6px;
    position: absolute;
    top: 7.5px;
    width: 6px;
  }
  
  .dashboard .vector-10 {
    height: 6px;
    left: 9px;
    position: absolute;
    top: 7px;
    width: 3px;
  }

  .dashboard .vector-91 {
    height: 5px;
    left: 6px;
    position: absolute;
    top: 8px;
    width: 6px;
  }
  
  .dashboard .vector-101 {
    height: 6px;
    left: 9px;
    position: absolute;
    top: 7.5px;
    width: 3px;
  }
  
  .dashboard .frame-23 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 0px;
    left: 16px;
    position: absolute;
    top: 195px;
    width: 360px;
  }
  
  .dashboard .text-wrapper-28 {
    color: #343434;
    font-family: "SF Pro-Bold", Helvetica;
    font-size: 12.3px;
    font-weight: 700;
    height: 16.37px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.05px;
    position: relative;
    width: 353.92px;
  }
  
  .dashboard .upcoming-events-see {
    color: transparent;
    font-family: "SF Pro-Regular", Helvetica;
    font-size: 12.2px;
    font-weight: 400;
    left: 650px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 295px;
    width: 352px;
  }
  
  .dashboard .headlines-3 {
    background-color: var(--white);
    border: 1.02px solid;
    border-color: #d7d7d7;
    border-radius: 7.33px;
    height: 286px;
    left: 230px;
    position: absolute;
    top: 624px;
    width: 796px;
  }
  
  .dashboard .top-opportunities {
    color: transparent;
    font-family: "SF Pro-Regular", Helvetica;
    font-size: 12.2px;
    font-weight: 400;
    left: 21px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 15px;
    width: 753px;
  }
  
  .dashboard .text-wrapper-29 {
    color: #004c59;
    font-family: "SF Pro-Medium", Helvetica;
    font-weight: 500;
  }
  
  .dashboard .frame-24 {
    align-items: center;
    display: inline-flex;
    gap: 9.96px;
    left: 22px;
    position: absolute;
    top: 60px;
  }
  
  .dashboard .group-22 {
    height: 62.16px;
    position: relative;
    width: 64.65px;
  }
  
  .dashboard .frame-25 {
    background-color: #ffffff;
    border: 0.14px solid;
    border-color: #dfdfdf;
    border-radius: 1.8px;
    height: 62px;
    overflow: hidden;
    width: 65px;
  }
  
  .dashboard .overlap-group-5 {
    height: 62px;
    position: relative;
    width: 63px;
  }
  
  .dashboard .conferences-program {
    height: 62px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 62px;
  }
  
  .dashboard .mask-group {
    height: 48px;
    left: 0;
    position: absolute;
    top: 0;
    width: 63px;
  }
  
  .dashboard .frame-26 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 0px;
    position: relative;
  }
  
  .dashboard .text-wrapper-30 {
    color: #004c59;
    font-family: "Inter", Helvetica;
    font-size: 14.2px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 19.9px;
    margin-top: 2px;
    position: relative;
    width: 95.51px;
  }
  
  .dashboard .candylicious-is-the {
    color: #000000;
    font-family: "SF Pro-Light", Helvetica;
    font-size: 9.1px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 15.4px;
    position: relative;
    width: 674.63px;
  }
  
  .dashboard .frame-27 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 483.62px;
    position: relative;
  }
  
  .dashboard .text-wrapper-31 {
    color: #004c59;
    font-family: "SF Pro-Medium", Helvetica;
    font-size: 10.2px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dashboard .text-wrapper-32 {
    color: #004c59;
    font-family: "Helvetica Neue-Light", Helvetica;
    font-size: 12.8px;
    font-weight: 300;
    height: 22.72px;
    letter-spacing: 0;
    line-height: 41.5px;
    margin-top: -15.43px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 78.1px;
  }
  
  .dashboard .div-2 {
    height: 22px;
    position: relative;
    width: 22px;
  }
  
  .dashboard .ellipse-6 {
    background-color: #004c59;
    border-radius: 7.78px;
    height: 16px;
    left: 3px;
    position: absolute;
    top: 3px;
    transform: rotate(43.95deg);
    width: 16px;
  }
  
  .dashboard .vector-11 {
    height: 20px;
    left: 7px;
    position: absolute;
    top: 10px;
    width: 8px;
  }
  
  .dashboard .vector-12 {
    height: 8px;
    left: 10px;
    position: absolute;
    top: 7px;
    width: 4px;
  }

  .dashboard .vector-111 {
    height: 1px;
    left: 7px;
    position: absolute;
    top: 10px;
    width: 8px;
  }
  
  .dashboard .vector-121 {
    height: 8px;
    left: 10px;
    position: absolute;
    top: 7px;
    width: 4px;
  }
  
  .dashboard .text-wrapper-33 {
    color: #004c59;
    font-family: "Inter", Helvetica;
    font-size: 8.1px;
    font-weight: 400;
    left: 95px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 6px;
    width: 39px;
  }
  
  .dashboard .frame-28 {
    align-items: center;
    display: inline-flex;
    gap: 9.96px;
    left: 22px;
    position: absolute;
    top: 173px;
  }
  .dashboard {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}


.dashboard .overlap-3 {
  height: 1024px;
  position: relative;
}

.dashboard .component-1 {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.dashboard .icon-instance-node-3 {
  height: 22px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 22px !important;
}

.dashboard .vuesax-outline-arrow-down {
  height: 21.18px !important;
  position: relative !important;
  width: 21.18px !important;
}

.dashboard .vuesax-linear-setting-2 {
  height: 22.36px !important;
  position: relative !important;
  width: 22.36px !important;
}

.dashboard .vuesax-linear-notification {
  height: 26px !important;
  left: 0 !important;
  position: absolute !important;
  top: 5px !important;
  width: 26px !important;
}

.dashboard .vuesax-outline-arrow-down-1 {
  height: 23px !important;
  left: 124px !important;
  position: absolute !important;
  top: 1px !important;
  width: 23px !important;
}

.dashboard .vuesax-linear-messages-3 {
  height: 26px !important;
  left: 0 !important;
  position: absolute !important;
  top: 10px !important;
  width: 26px !important;
}

.dashboard .headlines {
  background-color: var(--white);
  border: 1.02px solid;
  border-color: #d7d7d7;
  border-radius: 7.33px;
  height: 339px;
  left: 235px;
  position: absolute;
  top: 272px;
  width: 391px;
}

.dashboard .statistics-details {
  background-color: var(--white);
  border: 0.93px solid;
  border-color: #0000001a;
  border-radius: 7.47px;
  height: 144px;
  left: 235px;
  position: absolute;
  top: 118px;
  width: 795px;
}

.dashboard .ellipse-wrapper {
  align-items: flex-start;
  display: inline-flex;
  gap: 16.26px;
  justify-content: center;
  left: 31px;
  position: absolute;
  top: 47px;
}

.dashboard .ellipse-4 {
  height: 50.9px;
  object-fit: cover;
  position: relative;
  width: 50.9px;
}

.dashboard .frame-6 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 13.21px;
  left: 569px;
  position: absolute;
  top: 58px;
}

.dashboard .rectangle-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8.81px;
  position: relative;
}

.dashboard .rectangle-3 {
  border: 1px solid;
  border-color: #004c59;
  border-radius: 30.82px;
  height: 39.62px;
  position: relative;
  width: 186.68px;
}

.dashboard .frame-7 {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  gap: 9.25px;
  left: 31px;
  position: absolute;
  top: 13px;
}

.dashboard .group-17 {
  height: 12.39px;
  margin-left: -0.61px;
  position: relative;
  width: 12.39px;
}

.dashboard .text-wrapper-12 {
  color: #004c59;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 13.21px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.32px;
  position: relative;
  white-space: nowrap;
  width: 104.65px;
}

.dashboard .frame-8 {
  align-items: flex-end;
  display: inline-flex;
  gap: 26.42px;
  left: 102px;
  position: absolute;
  top: 50px;
}

.dashboard .frame-9 {
  height: 44.7px;
  position: relative;
  width: 206.25px;
}

.dashboard .frame-10 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: row;
  gap: 2.43px;
  justify-content: center;
  left: -423px;
  position: absolute;
  top: 0px;
}

.dashboard .text-wrapper-13 {
  color: #004c59;
  font-family: "SF Pro-Light", Helvetica;
  font-size: 17.1px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.11px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.dashboard .text-wrapper-14 {
  color: #004c59;
  font-family: "SF Pro-Semibold", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: -315px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 23px;
  white-space: nowrap;
}

.dashboard .frame-11 {
  align-items: flex-start;
  display: inline-flex;
  gap: 9.14px;
  left: 334px;
  position: absolute;
  top: 79px;
}

.dashboard .vector-8 {
  height: 12.08px;
  position: absolute;
  top: -1px;
  left: -17px;
  width: 12.08px;
}

.dashboard .member-ID {
  color: transparent;
  font-family: "SF Pro-Regular", Helvetica;
  font-size: 12.2px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.02px;
  position: relative;
  width: 176.79px;
}

.dashboard .span {
  color: #717171;
}

.dashboard .text-wrapper-15 {
  color: #004c59;
}

.dashboard .group-18 {
  height: 791px;
  left: 1040px;
  position: absolute;
  top: 119px;
  width: 340px;
}

.dashboard .overlap-4 {
  background: linear-gradient(180deg, rgb(250.75, 255, 253.18) 20.39%, rgb(243, 250, 247) 100%);
  border: 0.44px solid;
  border-color: #92c9d2;
  border-radius: 7px;
  height: 791px;
  position: relative;
  width: 336px;
}

.dashboard .text-wrapper-16 {
  color: #000000;
  font-family: "SF Pro-Regular", Helvetica;
  font-size: 11.5px;
  font-weight: 400;
  left: 114px;
  letter-spacing: 0;
  line-height: 11.9px;
  position: absolute;
  text-align: center;
  top: 382px;
  width: 115px;
}

.dashboard .abu-dhabi-government {
  color: #000000;
  font-family: "SF Pro-Medium", Helvetica;
  font-size: 13.6px;
  font-weight: 400;
  left: 34px;
  letter-spacing: 0;
  line-height: 14.1px;
  position: absolute;
  text-align: center;
  top: 258px;
  width: 262px;
}

.dashboard .text-wrapper-17 {
  font-weight: 500;
}

.dashboard .text-wrapper-18 {
  font-family: "SF Pro-Regular", Helvetica;
  font-size: 12.4px;
  line-height: 12.9px;
}

.dashboard .text-wrapper-19 {
  font-family: "SF Pro-Light", Helvetica;
  font-size: 12.4px;
  font-weight: 300;
  line-height: 12.9px;
}

.dashboard .ehvkajjw-abu-dhabi {
  height: 382px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 409px;
  width: 336px;
}

.dashboard .tamm {
  height: 175px;
  left: 92px;
  object-fit: cover;
  position: absolute;
  top: 47px;
  width: 144px;
}

.dashboard .appstore {
  height: 28px;
  left: 62px;
  position: absolute;
  top: 338px;
  width: 103px;
}

.dashboard .googleplay {
  height: 28px;
  left: 171px;
  position: absolute;
  top: 338px;
  width: 103px;
}

.dashboard .frame-12 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 44px;
  left: 255px;
  position: absolute;
  top: 293px;
}

.dashboard .latest-news-see-more {
  color: transparent;
  font-family: "SF Pro-Regular", Helvetica;
  font-size: 12.2px;
  font-weight: 400;
  height: 16.26px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.02px;
  position: relative;
  width: 351.54px;
}

.dashboard .text-wrapper-20 {
  color: #8d8d8d;
}

.dashboard .frame-13 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  position: absolute;
  top: 42px;
}


.dashboard .p {
  color: #343434;
  font-family: "SF Pro-Bold", Helvetica;
  font-size: 11.8px;
  font-weight: 700;
  height: 15.78px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.99px;
  position: relative;
  width: 341.26px;
}

.dashboard .frame-15 {
  align-items: flex-start;
  background-color: #f6f6f6;
  border-radius: 2.82px;
  display: flex;
  gap: 7.06px;
  overflow: hidden;
  padding: 2.12px 0px 2.12px 4.94px;
  position: relative;
  width: 75.54px;
}

.dashboard .text-wrapper-21 {
  color: #343434;
  font-family: "Inter", Helvetica;
  font-size: 7.1px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 9.9px;
  margin-top: -0.71px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard .frame-16 {
  align-items: flex-start;
  background-color: #f6f6f6;
  border-radius: 2.82px;
  display: flex;
  gap: 7.06px;
  overflow: hidden;
  padding: 2.12px 21.18px 2.12px 4.94px;
  position: relative;
  width: 55.77px;
}

.dashboard .text-wrapper-22 {
  color: #343434;
  font-family: "Inter", Helvetica;
  font-size: 7.1px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 9.9px;
  margin-right: -16.35px;
  margin-top: -0.71px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard .ministry-of-industry {
  color: #343434;
  font-family: "SF Pro-Bold", Helvetica;
  font-size: 11.8px;
  font-weight: 700;
  height: 42.67px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.99px;
  position: relative;
  width: 341.38px;
}


.dashboard .text-wrapper-23 {
  color: #343434;
  font-family: "SF Pro-Bold", Helvetica;
  font-size: 11.8px;
  font-weight: 700;
  height: 15.24px;
  letter-spacing: 0;
  line-height: normal;
  margin-right: -9.47px;
  margin-top: -0.99px;
  position: relative;
  width: 357.64px;
}

.dashboard .headlines-2 {
  background-color: var(--white);
  border: 1.02px solid;
  border-color: #d7d7d7;
  border-radius: 7.33px;
  height: 339px;
  left: 638px;
  position: absolute;
  top: 272px;
  width: 392px;
}


.dashboard .text-wrapper-24 {
  color: #343434;
  font-family: "SF Pro-Bold", Helvetica;
  font-size: 13.7px;
  font-weight: 700;
  height: 16.37px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.05px;
  position: relative;
  white-space: nowrap;
  width: 353.92px;
}

.dashboard .text-wrapper-25 {
  color: #000000;
  font-family: "SF Pro-Light", Helvetica;
  font-size: 10.5px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 17.7px;
  margin-right: -17.91px;
  position: relative;
  width: 378.28px;
}

.dashboard .frame-19 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 18.97px;
  padding: 4.41px 0px;
  position: relative;
}

.dashboard .frame-20 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12.48px;
  position: relative;
}

.dashboard .group-19 {
  height: 9px;
  margin-right: -2px;
  position: relative;
  width: 110.7px;
}


.dashboard .map-pin {
  height: 10px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 10px;
}

.dashboard .frame-21 {
  height: 0px;
  position: relative;
  width: 112.29px;
}

.dashboard .overlap-group-3 {
  height: 9px;
  position: relative;
  width: 113px;
}

.dashboard .vuesax-linear-calendar-tick-2 {
  height: 8px !important;
  left: 0 !important;
  position: absolute !important;
  top: 1px !important;
  width: 8px !important;
}


.dashboard .frame-22 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.dashboard .text-wrapper-27 {
  color: #004c59;
  font-family: "Helvetica Neue-Light", Helvetica;
  font-size: 9.3px;
  font-weight: 300;
  height: 16.49px;
  letter-spacing: 0;
  line-height: 30.2px;
  margin-top: -8.03px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 56.69px;
}

.dashboard .group-21 {
  height: 15.97px;
  position: relative;
  width: 15.97px;
}

.dashboard .overlap-group-4 {
  height: 16px;
  position: relative;
  width: 16px;
}





.dashboard .text-wrapper-28 {
  color: #343434;
  font-family: "SF Pro-Bold", Helvetica;
  font-size: 12.3px;
  font-weight: 700;
  height: 16.37px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.05px;
  position: relative;
  width: 353.92px;
}


.dashboard .headlines-3 {
  background-color: var(--white);
  border: 1.02px solid;
  border-color: #d7d7d7;
  border-radius: 7.33px;
  height: 286px;
  left: 235px;
  position: absolute;
  top: 624px;
  width: 796px;
}


.dashboard .text-wrapper-29 {
  color: #004c59;
  font-family: "SF Pro-Medium", Helvetica;
  font-weight: 500;
}


.dashboard .group-22 {
  height: 62.16px;
  position: relative;
  width: 64.65px;
}

.dashboard .frame-25 {
  background-color: #ffffff;
  border: 0.14px solid;
  border-color: #dfdfdf;
  border-radius: 1.8px;
  height: 62px;
  overflow: hidden;
  width: 65px;
}

.dashboard .overlap-group-5 {
  height: 62px;
  position: relative;
  width: 63px;
}

.dashboard .conferences-program {
  height: 62px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 62px;
}

.dashboard .mask-group {
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 63px;
}



.dashboard .candylicious-is-the {
  color: #000000;
  font-family: "SF Pro-Light", Helvetica;
  font-size: 9.1px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 15.4px;
  position: relative;
  width: 674.63px;
}

.dashboard .frame-27 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 483.62px;
  position: relative;
}

.dashboard .text-wrapper-31 {
  color: #004c59;
  font-family: "SF Pro-Medium", Helvetica;
  font-size: 10.2px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}


.dashboard .div-2 {
  height: 22px;
  position: relative;
  width: 22px;
}


.dashboard .vector-11 {
  height: 1px;
  left: 7px;
  position: absolute;
  top: 10px;
  width: 8px;
}

.dashboard .vector-12 {
  height: 8px;
  left: 11px;
  position: absolute;
  top: 7px;
  width: 4px;
}

.dashboard .text-wrapper-33 {
  color: #004c59;
  font-family: "Inter", Helvetica;
  font-size: 8.1px;
  font-weight: 400;
  left: 95px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6px;
  width: 39px;
}

.dashboard .frame-28 {
  align-items: center;
  display: inline-flex;
  gap: 9.96px;
  left: 22px;
  position: absolute;
  top: 173px;
}


footer {
  background-color: #e9f3f5;
  padding: 10px 25px;
  text-align: start;
  position: fixed; /* or position: sticky; */
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 11px;
  color: #000000;
}


.dropdown-content3 {
  display: none;
  width: 278px;
  padding-left : 90px;
  background: #fafafb;
  z-index: 20;
  position: absolute;
  top: 20px;
  left: -55px;
}

.dropdown-content3 li{
  margin-top: 15px;
  border-left: 1px solid rgb(217, 217, 217) ;
  padding-left: 10px;
}

.dropdown:hover .dropdown-content3 {
  display: block;
}


.dropdown-content4 {
  display: none;
  width: 278px;
  padding-left : 90px;
  background: #fafafb;
  z-index: 20;
  position: absolute;
  top: 42px;
  left: -55px;
}

.dropdown-content4 li{
  margin-top: 15px;
  border-left: 1px solid rgb(217, 217, 217) ;
  padding-left: 10px;
}

.dropdown:hover .dropdown-content4 {
  display: block;
}


.sign-up .notih{
  font-size: 20px;
  padding: 15px 10px;
}



