.sign-up-container {
    width: 100%;
    display: flex;
    overflow: hidden;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  
  *{
      text-decoration: none;
      font-family: 'Gilroy', sans-serif;  
  }

  *:focus {
    outline: none;
  }

  
  .sign-up-sign-up {
    gap: 150px;
    display: flex;
    position: absolute;
    transform: translate(0%, 20%);
    overflow: hidden;
    align-items: center;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
  }
  
  .sign-up-arabicbusinessteamintheoffice20220205015419utc1 {
    width: 487px;
    height: 638px;
    border-radius: 28px;
  }
  .sign-up-group181544 {
    width: 351px;
    height: 527px;
    display: flex;
    z-index: 1;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .sign-up-frame4 {
    gap: 21px;
    top: 170px;
    left: 1px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
  }
  .sign-up-rectangle8 {
    width: 23px;
    height: 23px;
    border-radius: 4px;
  }
  .sign-up-line6 {
    top: 0px;
    left: 104px;
    width: 45px;
    height: 1px;
    z-index: 1;
    position: absolute;
  }
  .sign-up-text {
    top: 267px;
    left: 284px;
    color: rgba(0, 76, 89, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: left;
    font-family: SF Pro;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .sign-up-text02 {
    top: 408px;
    left: 67px;
    color: rgba(0, 76, 89, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: SF Pro;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .sign-up-text04 {
    top: 508px;
    left: 123px;
    color: rgba(106, 106, 106, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Bold;
    text-align: left;
    font-family: SF Pro;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: underline;
  }
  .sign-up-text06 {
    top: 474px;
    left: 52px;
    color: rgba(106, 106, 106, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: SF Pro;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .sign-up-rectangle10 {
    top: 236px;
    left: 0px;
    width: 347px;
    height: 45px;
    position: absolute;
    border-color: rgba(145, 175, 181, 1);
    border-style: solid;
    border-width: 0.5px;
    border-radius: 4px;
  }
  .sign-up-frame3 {
    gap: 22px;
    top: 183px;
    left: 16px;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
  
  .sign-up-frame31 {
    gap: 22px;
    top: 233px;
    left: 16px;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
  .sign-up-unitedarabemirates1 {
    width: 20px;
    height: 20px;
  }
  .sign-up-text08 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    position: absolute;
    top: -10px;
    left: 20px;
  }
  .sign-up-text10 {
    color: rgba(137, 137, 137, 1);
    height: auto;
    font-size: 13px;
    font-style: Light;
    text-align: left;
    font-family: SF Pro;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .sign-up-frame2 {
  
    top: 300px;
    left: 1px;
    width: 36px;
    height: 28px;
    display: flex;
    padding: 10.568456649780273px 146.9976348876953px;
    overflow: hidden;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4.803843975067139px;
    justify-content: center;
    background-color: rgba(0, 76, 89, 1);
  }
  .sign-up-text12 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 18px;
    font-style: Regular;
    text-align: left;
    font-family: SF Pro;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .sign-up-abu-dhabi-chamber1 {
    top: 0px;
    left: 50px;
    width: 198px;
    height: 123px;
    position: absolute;
  }
  .sign-up-text14 {
    top: 499px;
    left: 926px;
    color: rgba(137, 137, 137, 1);
    height: auto;
    z-index: 2;
    position: absolute;
    font-size: 13px;
    font-style: Light;
    text-align: left;
    font-family: SF Pro;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  
  .contact{
    width: 357px;
    padding: 10px 15px;
    position: absolute;
    top: -21px;
    left: -28px;
    background: transparent;
    text-align: center;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
  }
  
  .contact1{
    width: 357px;
    padding: 10px 25px;
    position: absolute;
    top: -21px;
    left: -28px;
    background: transparent;
    text-align: start;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
  }
  
  .side-container{
    display: flex;
    flex-direction: column;
  
  }

  .sign-up {
    display: flex;
    flex-direction: column;
    height: 1024px;
    align-items: flex-start;
    gap: 10px;
    padding: 92px 77px;
    position: relative;
    background-color: #ffffff;
  }
  
  .sign-up .frame {
    display: inline-flex;
    align-items: flex-start;
    gap: 96px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .sign-up .div {
    display: flex;
    width: 247.68px;
    height: 78.75px;
    align-items: center;
    gap: 6px;
    position: relative;
  }
  
  .sign-up .group {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 0.5px solid;
    border-color: #b0b0b0;
  }
  
  .sign-up .overlap-group {
    position: relative;
    width: 12px;
    height: 12px;
    top: 9px;
    left: 9px;
  }
  
  .sign-up .vector {
    position: absolute;
    width: 12px;
    height: 1px;
    top: 5px;
    left: 0;
    object-fit: cover;
  }
  
  .sign-up .img {
    position: absolute;
    width: 6px;
    height: 12px;
    top: 0;
    left: 0;
  }
  
  .sign-up .text-wrapper {
    position: relative;
    width: 184px;
    height: 24px;
    font-family: "SF Pro-Regular", Helvetica;
    font-weight: 400;
    color: #004c59;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .sign-up .frame-wrapper {
    display: flex;
    flex-direction: column;
    width: 809.24px;
    height: 519.75px;
    align-items: flex-start;
    gap: 97px;
    position: relative;
  }
  
  .sign-up .frame-2 {
    position: relative;
    flex: 0 0 auto;
  }
  
  .sign-up .frame-3 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    position: absolute;
    top: 206px;
    left: 381px;
  }
  
  .sign-up .create-an-account-wrapper {
    position: relative;
    width: 717px;
    height: 29px;
  }
  
  .sign-up .create-an-account {
    position: absolute;
    height: 29px;
    top: -1px;
    left: 0;
    font-family: "SF Pro-Medium", Helvetica;
    font-weight: 500;
    color: #004c59;
    font-size: 24px;
    letter-spacing: 1.2px;
    line-height: normal;
  }
  
  .sign-up .div-wrapper {
    position: relative;
    width: 718px;
    height: 20px;
  }
  
  .sign-up .text-wrapper-2 {
    position: absolute;
    height: 20px;
    top: -20px;
    left: 0;
    font-family: "SF Pro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16.5px;
    letter-spacing: 0.82px;
    line-height: normal;
 
  }
  
  .sign-up .frame-4 {
    display: flex;
    flex-wrap: wrap;
    width: 719px;
    align-items: flex-start;
    gap: -172px 19px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .sign-up .frame-5 {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .sign-up .frame-6 {
    display: flex;
    width: 347px;
    align-items: center;
    gap: 10px;
    padding: 14px 18px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    border: 0.5px solid;
    border-color: #91afb5;
  }
  
  .sign-up .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -0.5px;
    font-family: "SF Pro-Light", Helvetica;
    font-weight: 300;
    color: #898989;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
    padding: 10px 20px;

  }
  
  .sign-up .frame-7 {
    display: flex;
    width: 348px;
    align-items: center;
    gap: 10px;
    padding: 14px 18px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    border: 0.5px solid;
    border-color: #91afb5;
  }
  
  .sign-up .frame-8 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 13px 0px 0px;
    position: relative;
    flex: 0 0 auto;
    margin-left: -172px;
  }
  
  .sign-up .div-2 {
    position: relative;
    width: 347px;
    height: 45px;
    border-radius: 4px;
    border: 0.5px solid;
    border-color: #91afb5;
  }
  
  .sign-up .frame-9 {
    display: inline-flex;
    align-items: flex-start;
    gap: 247px;
    position: absolute;
    top: 14px;
    left: 18px;
  }
  
  .sign-up .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "SF Pro-Light", Helvetica;
    font-weight: 300;
    color: #898989;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-up .chevron-left {
    position: relative;
    width: 20.64px;
    height: 20.64px;
  }
  
  .sign-up .frame-10 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .sign-up .frame-11 {
    display: inline-flex;
    align-items: flex-start;
    gap: 181px;
    position: absolute;
    top: 15px;
    left: 18px;
  }
  
  .sign-up .frame-12 {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
    margin-left: -172px;
  }
  
  .sign-up .frame-13 {
    display: inline-flex;
    align-items: center;
    gap: 27px;
    position: absolute;
    top: 13px;
    left: 11px;
  }
  
  .sign-up .frame-14 {
    display: inline-flex;
    align-items: center;
    gap: 27px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .sign-up .frame-15 {
    display: inline-flex;
    align-items: flex-start;
    gap: 9px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .sign-up .united-arab-emirates {
    position: relative;
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
  
  .sign-up .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .sign-up .text-wrapper-6 {
    position: relative;
    width: fit-content;
    font-family: "SF Pro-Light", Helvetica;
    font-weight: 300;
    color: #898989;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-up .line {
    position: absolute;
    width: 1px;
    height: 45px;
    top: 0;
    left: 86px;
  }
  
  .sign-up .group-2 {
    position: relative;
    width: 347px;
    height: 44px;
  }
  
  .sign-up .frame-16 {
    display: inline-flex;
    align-items: flex-start;
    gap: 25px;
    position: absolute;
    top: 200px;
    left: 0px;
  }
  
  .sign-up .frame-17 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }
  
  .sign-up .frame-18 {
    display: inline-flex;
    flex-direction: column;
    height: 62px;
    align-items: flex-start;
    position: absolute;
    left: 0px;
    top: 100px;
  }
  
  .sign-up .frame-19 {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
    margin-bottom: -2px;
  }
  
  .sign-up .flexcontainer {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    position: absolute;
    top: 540px;
  }
  
  .sign-up .text {
    position: relative;
    align-self: stretch;
    font-family: "SF Pro-Light", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 11px;
    letter-spacing: 0;
    line-height: 11px;
  }
  
  .sign-up .span {
    font-weight: 300;
  }
  
  .sign-up .text-wrapper-7 {
    font-family: "SF Pro-Medium", Helvetica;
    font-weight: 500;
    line-height: 15.7px;
  }
  
  .sign-up .p {
    position: relative;

    align-self: stretch;
    margin-bottom: -20px;
    font-family: "SF Pro-Light", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 11px;
    letter-spacing: 0;
    line-height: 11px;
  }
  
  .sign-up .text-wrapper-8 {
    font-weight: 300;
    line-height: 15.7px;
  }
  
  .sign-up .frame-20 {
    display: flex;
    width: 348px;
    height: 48px;
    align-items: center;
    justify-content: center;
    gap: 9.61px;
    padding: 10.57px 147px;
    position: absolute;
    top: 650px;
    background-color: #004c59;
    border-radius: 4.8px;
    overflow: hidden;
  }
  
  .sign-up .text-wrapper-9 {
    position: relative;
    width: fit-content;
    margin-left: -6.5px;
    margin-right: -6.5px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 19.2px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  
  .box .frame {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 43px;
    position: absolute;
    transform: translate(50%, 20%);
  }
  
  .box .div {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    position: relative;
    flex: 0 0 auto;
    margin-bottom: 20px;
  }
  
  .box .frame-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 46px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .box .create-an-account {
    position: absolute;
    top: -80px;
    width: fit-content;
    margin-top: -1px;
    font-family: "SF Pro-Medium", Helvetica;
    font-weight: 500;
    color: #004c59;
    font-size: 24px;
    letter-spacing: 1.2px;
    line-height: normal;
  }
  
  .box .frame-3 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .box .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "SF Pro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16.5px;
    letter-spacing: 0.82px;
    line-height: normal;
    top: -70px;
  }
  
  .box .text-wrapper2 {
    position: absolute;
    top: -20px;
    width: fit-content;
    margin-top: -1px;
    font-family: "SF Pro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16.5px;
    letter-spacing: 0.82px;
    line-height: normal;
  }

  .box .frame-4 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 67px;
    position: relative;
    flex: 0 0 auto;
    top: 100px;
  }
  
  .box .frame-5 {
    display: flex;
    flex-wrap: wrap;
    width: 719px;
    align-items: flex-start;
    gap: -172px 19px;
    position: relative;
    flex: 0 0 auto;
    top: -50px;
  }
  
  .box .frame-6 {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
  }

  .box .frame-61 {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
    top: -70px;
  }
  
  .box .div-wrapper {
    display: flex;
    width: 347px;
    align-items: center;
    gap: 10px;
    padding: 14px 18px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    border: 0.5px solid;
    border-color: #91afb5;
  }
  
  .box .div-wrapper1 {
    display: flex;
    width: 350px;
    align-items: center;
    gap: 10px;
    padding: 14px 18px;
    position: absolute;
    border-radius: 4px;
    overflow: hidden;
    border: 0.5px solid;
    border-color: #91afb5;
    left: -625px;
    top: 70px;
  }

  .box .div-wrapper2 {
    display: flex;
    width: 347px;
    align-items: center;
    gap: 10px;
    padding: 14px 18px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    border: 0.5px solid;
    border-color: #91afb5;
    top :0px;
  }
  

  .box .text-wrapper-2 {
    position: relative;
    width: 300px;
    margin-top: -0.5px;
    font-family: "SF Pro-Light", Helvetica;
    font-weight: 300;
    color: #898989;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
    border: none;
  }
  
  .box .frame-7 {
    display: flex;
    width: 348px;
    align-items: center;
    gap: 10px;
    padding: 14px 18px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    border: 0.5px solid;
    border-color: #91afb5;
  }
  
  .box .frame-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .box .rectangle {
    position: relative;
    width: 384px;
    height: 42px;
    border-radius: 4px;
    border: 0.5px solid;
    border-color: #91afb5;
    left: -1px;
    margin: 25px 0px;
  }
  
  .box .frame-8 {
    display: inline-flex;
    align-items: flex-start;
    gap: 247px;
    position: absolute;
    top: 40px;
    left: 18px;
  }
  
  .box .text-wrapper-3 {
    position: relative;
    width: 300px;
    margin-top: -1px;
    font-family: "SF Pro-Light", Helvetica;
    font-weight: 300;
    color: #898989;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
    border: none;
  }
  
  .box .chevron-left {
    position: relative;
    width: 20.64px;
    height: 20.64px;
  }
  
  .box .frame-9 {
    display: inline-flex;
    align-items: flex-start;
    gap: 181px;
    position: absolute;
    top: 40px;
    left: 430px;
  }
  
  .box .frame-10 {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
    margin-left: 0px;
  }
  
  .box .frame-11 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto; 
    top: -24px;
  }
  
  .box .line {
    position: absolute;
    width: 1px;
    height: 45px;
    top: 0;
    left: 86px;
  }
  
  .box .frame-12 {
    display: inline-flex;
    align-items: center;
    gap: 27px;
    position: absolute;
    top: 12px;
    left: 11px;
  }
  
  .box .frame-13 {
    display: inline-flex;
    align-items: flex-start;
    gap: 9px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .box .united-arab-emirates {
    position: relative;
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
  
  .box .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .box .text-wrapper-5 {
    position: relative;
    width: 250px;
    font-family: "SF Pro-Light", Helvetica;
    font-weight: 300;
    color: #898989;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
    border: none;
  }
  
  .box .frame-14 {
    display: inline-flex;
    align-items: flex-start;
    gap: 25px;
    position: relative;
    flex: 0 0 auto;
    margin-left: -172px;
  }
  
  .box .flexcontainer {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .box .text {
    position: relative;
    align-self: stretch;
    font-family: "SF Pro-Light", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 11px;
    letter-spacing: 0;
    line-height: 11px;
  }
  
  .box .span {
    font-weight: 300;
  }
  
  .box .text-wrapper-6 {
    font-family: "SF Pro-Medium", Helvetica;
    font-weight: 500;
    line-height: 15.7px;
  }
  
  .box .p {
    position: relative;
    align-self: stretch;
    margin-bottom: -20px;
    font-family: "SF Pro-Light", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 11px;
    letter-spacing: 0;
    line-height: 11px;
  }
  
  .box .text-wrapper-7 {
    font-weight: 300;
    line-height: 15.7px;
  }
  
  .box .frame-15 {
    display: flex;
    width: 95px;
    height: 30px;
    align-items: center;
    justify-content: center;
    gap: 9.61px;
    padding: 10.57px 147px;
    position: relative;
    background-color: #004c59;
    border-radius: 4.8px;
    overflow: hidden;
    margin-bottom: 50px;
    text-decoration: none;
  }
  
  .box .text-wrapper-8 {
    position: relative;
    width: fit-content;
    margin-left: -6.5px;
    margin-right: -6.5px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 19.2px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .box .frame-16 {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .box .overlap-group-wrapper {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 0.5px solid;
    border-color: #b0b0b0;
  }
  
  .box .overlap-group {
    position: relative;
    width: 12px;
    height: 12px;
    top: 9px;
    left: 9px;
  }
  
  .box .vector {
    width: 12px;
    height: 1px;
    top: 5px;
    object-fit: cover;
    position: absolute;
    left: 0;
  }
  
  .box .img {
    width: 6px;
    height: 12px;
    top: 0;
    position: absolute;
    left: 0;
  }
  
  .box .text-wrapper-9 {
    position: relative;
    width: 183.75px;
    height: 25px;
    font-family: "SF Pro-Regular", Helvetica;
    font-weight: 400;
    color: #004c59;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }

  .sign-up .frame-62 {
    position: relative;
    top: -100px;
    left: -146px;
  }

  .sign-up .group-17 {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 0.5px solid;
    border-color: #b0b0b0;
  }

  .sign-up .overlap-group-3 {
    position: relative;
    width: 12px;
    height: 12px;
    top: 9px;
    left: 9px;
  }


  .sign-up .text-wrapper-12 {
    position: relative;
    width: 124px;
    height: 20px;
    margin-left: -5px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #050505;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }




















 