
  
  .sign-up .img {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 0;
    left: 0;
  }
  
  .sign-up .text-wrapper {
    position: absolute;
    top: 2px;
    left: 35px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #004c59;
    font-size: 14.9px;
    letter-spacing: 0;
    line-height: normal;
  }

  
  .sign-up .frame-wrapper {
    position: absolute;
    width: 150px;
    height: 22px;
    top: 0;
    left: 0;
  }
  
  .sign-up .frame {
    display: inline-flex;
    align-items: center;
    gap: 13.04px;
    position: relative;
  }
  
  .sign-up .img-2 {
    position: relative;
    width: 22.36px;
    height: 22.36px;
  }
  
  .sign-up .text-wrapper-2 {
    position: relative;
    width: fit-content;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #787486;
    font-size: 14.9px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  
  .sign-up .cafe-restaurant {
    position: relative;
    width: fit-content;
    margin-top: -24.66px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #787486;
    font-size: 14.9px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-up .text-wrapper-3 {
    position: relative;
    width: fit-content;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: var(--gray-3);
    font-size: 14.9px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-up .building {
    position: relative;
    width: fit-content;
    margin-right: -1.99px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: var(--gray-3);
    font-size: 14.9px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-up .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-bottom: -22.8px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: var(--gray-3);
    font-size: 14.9px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  
  .sign-up .frame-3 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 19.56px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .sign-up .vector {
    position: relative;
    width: 208.65px;
    height: 1px;
    margin-top: -0.47px;
  }
  
  .sign-up .group-wrapper {
    position: relative;
    width: 193.75px;
    height: 22.36px;
  }
  
  .sign-up .group-3 {
    width: 194px;
    height: 22px;
  }
  
  .sign-up .frame-4 {
    display: flex;
    width: 194px;
    align-items: center;
    gap: 13.04px;
    position: relative;
  }

  
  .sign-up .vector-2 {
    position: absolute;
    width: 209px;
    height: 1px;
    top: 109px;
    left: -4px;
  }
  

  
  .sign-up .group-5 {
    height: 24px;
  }
  
  .sign-up .iconly {
    position: relative;
    width: 24.22px;
    height: 24.22px;
  }
  

  
  .sign-up .group-7 {
    height: 25px;
  }
  
  .sign-up .iconly-2 {
    position: relative;
    width: 25.15px;
    height: 25.15px;
  }
  
  
  .sign-up .group-9 {
    height: 22px;
  }
  
  
  .sign-up .frame-5 {
    display: inline-flex;
    align-items: center;
    gap: 13.97px;
    position: relative;
  }
  
  .sign-up .iconly-3 {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .sign-up .text-wrapper-6 {
    position: relative;
    width: fit-content;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #787486;
    font-size: 14.9px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-up .vector-7 {
    position: absolute;
    width: 209px;
    height: 1px;
    top: 790px;
    left: 0;
  }
  
  .sign-up .group-11 {
    position: absolute;
    width: 96px;
    height: 22px;
    top: 809px;
    left: 0;
  }
  
  .sign-up .vector-8 {
    position: absolute;
    width: 209px;
    height: 1px;
    top: 849px;
    left: 0;
  }
  
  .sign-up .text-wrapper-7 {
    position: absolute;
    top: 458px;
    left: 33px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #787486;
    font-size: 14.9px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-up .text-wrapper-8 {
    position: absolute;
    top: 494px;
    left: 33px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: var(--gray-3);
    font-size: 14.9px;
    letter-spacing: 0;
    line-height: normal;
  }
  

  
  .sign-up .group-12 {
    position: absolute;
    width: 808px;
    height: 44px;
    top: 25px;
    left: 289px;
    background-color: #ffffff;
    border-radius: 6px;
  }
  
  .sign-up .group-13 {
    position: relative;
    width: 161px;
    height: 22px;
    top: 10px;
    left: 17px;
  }
  
  
  .sign-up .group-14 {
    position: absolute;
    width: 246px;
    height: 42px;
    top: 28px;
    left: 1147px;
  }
  
  .sign-up .overlap-group-wrapper {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 2px;
    left: 37px;
  }
  
  .sign-up .overlap-group {
    position: relative;
    height: 40px;
  }
  
  .sign-up .notifications-none {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
  }
  
  .sign-up .overlap-group-2 {
    position: relative;
    width: 33px;
    height: 31px;
    top: 3px;
    left: 6px;
  }
  
  .sign-up .vuesax-linear {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 5px;
    left: 0;
  }
  
  .sign-up .ellipse {
    width: 19px;
    height: 19px;
    left: 14px;
    background-color: #f62020;
    border-radius: 9.33px;
    border: 1.33px solid;
    border-color: var(--backgroundlight);
    position: absolute;
    top: 0;
  }
  
  
  .sign-up .ellipse-2 {
    position: absolute;
    width: 19px;
    height: 19px;
    top: 3px;
    left: 21px;
    background-color: #f62020;
    border-radius: 9.33px;
    border: 1.33px solid;
    border-color: var(--backgroundlight);
  }
  
  .sign-up .overlap-2 {
    position: absolute;
    width: 147px;
    height: 38px;
    top: 0;
    left: 99px;
  }
  
  .sign-up .group-15 {
    position: absolute;
    width: 147px;
    height: 24px;
    top: 9px;
    left: 0;
  }
  
  .sign-up .vuesax-outline-arrow-2 {
    position: absolute;
    width: 23px;
    height: 23px;
    top: 1px;
    left: 124px;
  }
  
  .sign-up .group-16 {
    position: absolute;
    width: 56px;
    height: 19px;
    top: 0;
    left: 0;
  }
  
  .sign-up .text-wrapper-11 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .sign-up .ellipse-3 {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 0;
    left: 70px;
    object-fit: cover;
  }
  
  .sign-up .vuesax-linear-2 {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 10px;
    left: 0;
  }
  
  .sign-up .ADCCI-LL {
    position: absolute;
    width: 174px;
    height: 36px;
    top: 29px;
    left: 36px;
    object-fit: cover;
  }
  
  .sign-up .group-17 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 133px;
    left: 1366px;
  }
  
  .sign-up .input-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 13px;
    position: absolute;
    top: 127px;
    left: 1028px;
  }
  
  .sign-up .input {
    display: inline-flex;
    align-items: flex-start;
    padding: 13px 56px 13px 14px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 6.1px;
    overflow: hidden;
    border: 1px solid;
    border-color: #c0c1c2;
  }
  
  .sign-up .icons-left {
    position: relative;
    width: 15.92px;
    height: 15.92px;
  }
  
  .sign-up .user-interface {
    position: relative;
    width: 16px;
    height: 16px;
    overflow: hidden;
  }
  
  .sign-up .round {
    position: absolute;
    width: 13px;
    height: 13px;
    top: 2px;
    left: 2px;
  }
  
  .sign-up .content {
    position: relative;
    width: 238.87px;
    height: 15.92px;
  }
  
  .sign-up .search-opportunities {
    top: 1px;
    left: 14px;
    font-family: "SF Pro-Regular", Helvetica;
    color: #8d939a;
    font-size: 11.7px;
    white-space: nowrap;
    position: absolute;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    background: transparent;
    border: none;
    padding: 0;
  }
  
  .sign-up .rectangle-3 {
    position: absolute;
    width: 427px;
    height: 506px;
    top: 259px;
    left: 581px;
    background-color: #ffffff;
    border-radius: 12px;
    border: 0.5px solid;
    border-color: #b9b9b9;
  }
  
  .sign-up .group-18 {
    position: absolute;
    width: 359px;
    height: 440px;
    top: 292px;
    left: 616px;
  }
  
  .sign-up .group-19 {
    position: absolute;
    width: 355px;
    height: 120px;
    top: 128px;
    left: 2px;
  }
  
  .sign-up .group-20 {
    position: absolute;
    width: 359px;
    height: 50px;
    top: 0;
    left: 0;
  }
  
  .sign-up .overlap-group-3 {
    position: relative;
    width: 355px;
    height: 50px;
    border-radius: 6px;
    border: 1px solid;
    border-color: #e0e0e0;
  }
  
  .sign-up .text-wrapper-12 {
    position: absolute;
    top: 17px;
    left: 19px;
    font-family: "Helvetica-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .sign-up .text-wrapper-13 {
    position: absolute;
    top: 17px;
    left: 313px;
    font-family: "Helvetica-Regular", Helvetica;
    font-weight: 400;
    color: #969696;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .sign-up .copy-visit-website-wrapper {
    display: flex;
    width: 355px;
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 9.61px;
    padding: 10.57px 150px 10.57px 147px;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #004c59;
    border-radius: 6px;
    overflow: hidden;
  }
  
  .sign-up .copy-visit-website {
    position: relative;
    width: fit-content;
    margin-left: -56px;
    margin-right: -56px;
    font-family: "Helvetica-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 17px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .sign-up .group-21 {
    position: absolute;
    width: 357px;
    height: 98px;
    top: 0;
    left: 2px;
  }
  
  .sign-up .save-on-your-wrapper {
    position: absolute;
    width: 255px;
    height: 70px;
    top: 0;
    left: 0;
  }
  
  .sign-up .save-on-your {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Helvetica-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 34.7px;
  }
  
  .sign-up .text-wrapper-14 {
    position: absolute;
    top: 84px;
    left: 0;
    font-family: "Helvetica-Regular", Helvetica;
    font-weight: 400;
    color: #004c59;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 14.3px;
    white-space: nowrap;
  }
  
  .sign-up .group-22 {
    position: absolute;
    width: 41px;
    height: 41px;
    top: 14px;
    left: 314px;
  }
  
  .sign-up .overlap-group-4 {
    position: relative;
    height: 41px;
    border-radius: 20.5px;
  }
  
  .sign-up .layer {
    position: absolute;
    width: 18px;
    height: 17px;
    top: 12px;
    left: 12px;
  }
  
  .sign-up .ellipse-4 {
    width: 41px;
    height: 41px;
    left: 0;
    border-radius: 20.5px;
    border: 1px solid;
    border-color: #d6d6d6;
    position: absolute;
    top: 0;
  }
  
  .sign-up .visit-h-m-shopping {
    position: absolute;
    top: 413px;
    left: 72px;
    font-family: "Helvetica-Regular", Helvetica;
    font-weight: 400;
    color: #004c59;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 26.5px;
    white-space: nowrap;
  }
  
  .sign-up .group-23 {
    position: absolute;
    width: 355px;
    height: 105px;
    top: 278px;
    left: 0;
    border-radius: 6px;
    border: 1px solid;
    border-color: #e0e0e0;
  }
  
  .sign-up .group-24 {
    position: relative;
    width: 325px;
    height: 68px;
    top: 18px;
    left: 14px;
  }
  
  .sign-up .group-25 {
    position: absolute;
    width: 222px;
    height: 19px;
    top: 0;
    left: 0;
  }
  
  .sign-up .group-26 {
    position: relative;
    width: 224px;
    height: 19px;
  }
  
  .sign-up .text-wrapper-15 {
    position: absolute;
    top: 0;
    left: 32px;
    font-family: "Helvetica-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: 18.7px;
    white-space: nowrap;
  }
  
  .sign-up .group-27 {
    position: absolute;
    width: 16px;
    height: 18px;
    top: 0;
    left: 0;
  }
  
  .sign-up .group-28 {
    position: absolute;
    width: 325px;
    height: 19px;
    top: 49px;
    left: 0;
  }
  
  .sign-up .group-29 {
    position: absolute;
    width: 148px;
    height: 19px;
    top: 0;
    left: 0;
  }
  
  .sign-up .group-30 {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 1px;
    left: 0;
  }
  
  .sign-up .vector-9 {
    position: absolute;
    width: 9px;
    height: 5px;
    top: 9px;
    left: 316px;
  }
  
  .sign-up .frame-6 {
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 129px;
    left: 285px;
  }
  
  .sign-up .group-31 {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 0.5px solid;
    border-color: #b0b0b0;
  }
  
  .sign-up .overlap-group-5 {
    position: relative;
    width: 12px;
    height: 12px;
    top: 9px;
    left: 9px;
  }
  
  .sign-up .vector-10 {
    position: absolute;
    width: 12px;
    height: 1px;
    top: 5px;
    left: 0;
    object-fit: cover;
  }
  
  .sign-up .vector-11 {
    position: absolute;
    width: 6px;
    height: 12px;
    top: 0;
    left: 0;
  }
  
  .sign-up .text-wrapper-16 {
    position: relative;
    width: 124px;
    height: 25px;
    margin-left: -5px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #050505;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  